
.crypto{
    background-color: #0F1416;
    padding-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
}

.crypto-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;

}

.crypto-text-grid{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 5rem; 
}

.crypto-grid{
    margin-top:-35px;
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        
}

.crypto-text-grid h3{
    color:#DEE1D4;
    text-align: right;

}

.crypto-text-grid h1{
    color:#DEE1D4;

}

.crypto-image{
    width: 640px;
    height: 340px;

}

.crypto-post-grid{
    
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.crypto-post-grid a{
    color: #DEE1D4;
    text-decoration: none;
  
}

.crypto-post-grid p{
    color: #DEE1D4;
    font-size: .8rem;
    margin-top: -73px;
    margin-left: 380px;
    margin-right: -350px;
   
}

.post-crypto-grid{
   
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-bottom: 35px;
}

.crypto-image-post{
    width: 240px;
    height: 160px;
}

.rigt-crypto{
margin-left:80px ;
}

.post-crypto-grid a{
    color: #DEE1D4;
    font-size: 1.1rem;
    text-decoration: none;
    
}

.post-crypto-grid p{
    color: #DEE1D4;
    font-size: .8rem;
    
}

.text-crypto{
    margin-top: -31px;
}

@media screen and (min-width:360px) and (max-width:736px) {
    .crypto-cont{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
      }
  
      .crypto-grid{
        grid-template-columns: repeat(1,minmax(0,1fr));
    padding-left:10px;
    padding-right: 10px;
      }

      .post-crypto-grid{
        margin-top: 80px;
        grid-template-columns: repeat(1,minmax(0,1fr));
    padding-left:10px;
    padding-right: 10px;
      }

      .crypto-post-grid p{

        margin-top: -120px;
        margin-left: 260px;
        margin-right: -200px;
       
    }

}

@media only screen and (min-width:1400px) {
    .crypto-cont{
        margin: 0 auto;
        overflow: hidden;
        padding-right: 160px;
        padding-left: 160px;
    }

    .crypto-image-post{
        width: 330px;
        height: 180px;
    }

    .crypto-image{
        width: 750px;
        height: 410px;
    
    }
    
}