
.footer{
    background-color: #0F1416;
    padding-top: 80px;
          margin-left:-8px;
          margin-right:-8px;
          margin-bottom: -8px;
          padding-bottom: 50px;
  }
  
  .footer-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;
  }
  
  .footer-grid{
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 1rem;
        border-bottom: solid;
        border-top: solid;
        border-width: 1px;
        border-color: #dee1d463;
  }
  
  .footnav{
  
     padding-top: 40px;
  }
  
  .footnav a {
    float: left;
    display: block;
    color: #DEE1D4;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    margin-left: -13px;
    
  }
  
  .footnav a:hover {
    color: #97AAA0;
  }
  
  .footnav a.active {
    color: #97AAA0;
  }
  
  .footnav .icon {
    display: none;
  }
  
  .footer-img{
    width: 42%;
    height: 7rem;
    margin: 0 auto;
   
  }
  
  .footer2-grid{
    padding-right: 2rem;
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 2rem;
  }
  
  .footer2-grid p{
    font-family: 'Albert Sans', sans-serif;
    text-align: justify;
    color: #DEE1D4;
  }
  
  .iconos{
    text-align: center;
  }

  i {
    color: #DEE1D4;
  }

  .terminos{
    text-align: center!important;
  }
  
  @media screen and (min-width:300px) and (max-width:800px) {
    .footer-cont{
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .footer-grid{
      width: auto;
      grid-template-columns: repeat(1,minmax(0,1fr));
      padding-left:10px;
      padding-right: 10px;
    }
    
    .footer2-grid{
      width: auto;
      grid-template-columns: repeat(1,minmax(0,1fr));
      padding-left:10px;
      padding-right: 10px;
    }

    .footer-img{
      width: 50%;
      height: 100%;
     margin-left: 6.5rem;
    }

    .footnav a {
      float: left;
      display: block;
      color: #DEE1D4;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin-left: 1.2rem;
      
    }

    .terminos{
      text-align: center;
    }

    .footer2-grid{
      text-align: center!important;
    }

    }

   