.maninhead{
    background-color: #0F1416;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;

}

.main-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;
  
}

.main-grid{
    padding: 2rem;
  display:grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
      gap: 2rem;
      border-bottom: solid;
  color: #dee1d48e;
  border-width: 1px;
}

.maninhead h1{
    color: #DEE1D4;
    font-size: 2.9rem;
    font-weight: 300;
    margin-top: -8px;
    
}

.maninhead p{
    color: #DEE1D4;
    font-size: .9rem;
    
}


.post-grid{
    padding: 1.8rem;
  display:grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 2rem;
      margin-left: -70px;
      margin-top: -33px;
}


.maninhead h4{
    color: #DEE1D4;
    font-size: .7rem;
   
}
.maninhead h2{
    color: #DEE1D4;
    font-size: 1rem;
}

.post-grid .data{
margin-top: -15px;
margin-left: -20px;    
}

.maninhead a{
    color: #DEE1D4;
    text-decoration: none;
}

.banner .meta{
    margin-top: 80px;
}

.news{
    background-color: #0F1416;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: -8px;
    margin-right: -8px;
}

.news-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 75px;
  padding-left: 75px;
}

.news-grid{
    padding: 2rem;
  display:grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
      gap: 2rem;
}

.postnews-grid a{
    color: #DEE1D4;
    text-decoration: none;
    font-size: 1.1rem;
}

.postnews-grid h4{
    color: #DEE1D4;
    font-size: .8rem;
}


/************** Imagenes ***************/

.first-image{
  margin-top: -6px;
    background-image: url('../assets/crypto/Crypto1.png');
    background-size: cover;
    background-position: center;
    height: 701px;
  width: 340px;
}

.second-image{
    background-image: url('../assets/crypto/Crypto2.webp');
    background-size: cover;
    background-position: center;
    height: 150px;
  width: 170px;
}

.third-image{
    background-image: url('../assets/crypto/Flujos-de-Bitcoin.webp');
    background-size: cover;
    background-position: center;
    height: 150px;
  width: 170px;
}

.four-image{
    background-image: url('../assets/crypto/Solana.webp');
    background-size: cover;
    background-position: center;
    height: 150px;
  width: 170px;
}

.five-image{
    background-image: url('../assets/crypto/Genesis.webp');
    background-size: cover;
    background-position: center;
    height: 150px;
  width: 170px;
}

/************** Movil ***************/

@media (max-width:768px) {
    .main-cont{
      margin-top: -20px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
      }
  
      .main-grid{
        grid-template-columns: repeat(1,minmax(0,1fr));
    padding-left:10px;
    padding-right: 10px;
      }

      .news-cont{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
      }
  
      .news-grid{
        grid-template-columns: repeat(1,minmax(0,1fr));
    padding-left:10px;
    padding-right: 10px;
      }

.banner h1{
    margin-top: -30px;
    text-align: left;
    font-size: 1.8rem;
    margin-right: 50px;
}

.banner p{
    text-align: left;
}

.banner .meta{
    margin-top: 0px;
}

.first-image{
     margin:0 auto;
  height: 290px;
  width: 350px;
}


  .post-grid{
    padding: 1.8rem;
  display:grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 2rem;
      margin-left: -20px;
      margin-top: -33px;

}

.second-image{
    height: 155px;
    width: 135px;
}

.third-image{
  height: 155px;
  width: 135px;
}

.four-image{
  height: 155px;
  width: 135px;
}

.five-image{
  height: 155px;
  width: 135px;
}

}


/************** Pantallas grandes ***************/

@media only screen and (min-width:1400px) {
    .first-image{
       
        height: 676px;
      width: 460px;
    }
    .img-post{
        width: 68%;
        height: 86%;
        margin-left: 50px;
    }

    .banner .meta{
        margin-top: 250px;
    }
    .main-cont{
        margin: 0 auto;
      overflow: hidden;
      padding-right: 160px;
      padding-left: 160px;
      
    }

    .news-cont{
        margin: 0 auto;
      overflow: hidden;
      padding-right: 160px;
      padding-left: 160px;
    }

    .second-image{
   
      height: 150px;
    width: 220px;
  }
  
  .third-image{
   
      height: 150px;
      width: 220px;
  }
  
  .four-image{
      
      height: 150px;
      width: 220px;
  }
  
  .five-image{
    
      height: 150px;
      width: 220px;
  }
   
}