.midlebanner{
    background-color: #e8eadf;
    padding-bottom: 80px;
    margin-left: -8px;
    margin-right: -8px;
}

.midle-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;

}


.midle-grid{
    margin-top:-50px;
    padding: 6rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    background-image: url('../assets/Banner.png');
    background-size: cover;
    background-position: right;
}

.midle-izq{
    margin-right: 170px;
}

.midle-der{
    margin-top: 170px;
   
   
}


.midle-grid h1{
    font-size: 2.9rem;
    margin-bottom: 60px;
}


