.midlebanner{
    background-color: #e8eadf;
    padding-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
}

.midle-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;

}


.midle-grid{
    margin-top:-50px;
    padding: 1rem 6rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    background-image: url('../assets/banner2.png');
    background-size: cover;
    background-position: right 20% bottom 17%;
}

.midle-izq{
    margin-right: 170px;
    margin-left: 30px;
    margin-top: 60px;
}

.midle-der{
    margin-top: 307px;
    margin-left: 150px;
}

.midle-der p{
    font-size: 1rem;
    color: #e8eadf;
    margin-left: 25px;
}


.midle-grid h1{
    font-size: 2.9rem;
    margin-bottom: 60px;
}

.midle-izq a{
   color: #0F1416;
   text-decoration: none;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
  padding:10px 15px;
    background-color: #e8eadf;
    border-color: #e8eadf;
}

.midle-izq i{
    color: #0F1416;
}

/************** Movil **************/
@media screen and (min-width:360px) and (max-width:736px) {
    .midle-cont{
        width: auto;
            padding-left: 20px;
            padding-right: 20px;
    }
    
    
    .midle-grid{
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding-left:10px;
        padding-right: 10px; 
        padding-top: 4rem;
        width: auto;

    }

    .midle-izq{
        margin: auto;
    }

    .midle-grid h1{
        font-size: 2.9rem;
        margin-bottom: 60px;
        text-align: center;
    }

    .midle-grid {
      
        margin-bottom: 60px;
        text-align: center;
    }

    .midle-der{
        margin:0;
    }

    .midle-der p{
        font-size: 1rem;
        color: #e8eadf;
        margin-left: 25px;
        text-align:center;
    }
    .mc-field-group{
        margin:0;
    }

  .optionalParent{
    margin: 0;
  }
    
}

/************** Pantalla grande **************/

@media only screen and (min-width:1400px) {
    .midle-cont{
        margin: 0 auto;
          overflow: hidden;
          padding-right: 160px;
          padding-left: 160px;
    
    }

    .midle-grid{
        margin-top:-50px;
        padding: 3rem 6rem;
        background-position: right 20% bottom 17%;
    }

    .midle-izq{
        margin-right: 170px;
        margin-top: 80px;
    }
    
    .midle-der{
        margin-top: 270px;
        margin-left: 240px;
    }

}

