.content{
  padding-right: 50px;
  padding-left: 50px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    overflow: hidden;
    background-color: #0F1416;
}

.head-grid{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 2rem;
        margin-top: 15px;
        
}

.header-img{
    margin-top: -17px;
    width: 30%;
   
}


.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 21px;
  height: 2px;
  margin-bottom: 7px;
  background-color: #DEE1D4;
}

.nav-links {
  width: 100%;
  background-color: #DEE1D4;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: .9rem;
  color: #DEE1D4;
  margin-left: -15px;
}

.nav-links a:hover,
.nav-links a:focus {
color: #97AAA0;
}

.expanded {
  display: unset;
}

.nav-links .busqueda-menu{
  margin-left: 85px;
  padding-left: 30px;
  padding-right: 30px;
  border:solid;
  border-width: 1px;
  border-color: #DEE1D4;
  border-radius: 25px;
}



.nav-links .suscribirme-menu{
  color: #0F1416;
  margin-left: 18px;
  padding-left: 30px;
  padding-right: 30px;
  border:solid;
  border-width: 1px;
  border-color: #97AAA0;
  border-radius: 25px;
  background-color: #97AAA0;
}

.nav-links .busqueda-menu:hover{
  color: #DEE1D4;
}

.nav-links .suscribirme-menu{
  color: #0F1416!important;
}


@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: -24em;
    margin-top: -5px;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger{
    display: none;
  }
}

  @media screen and (min-width:360px) and (max-width:736px) {

    .content{
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    .head-grid{
      grid-template-columns: repeat(1,minmax(0,1fr));
  padding-left:10px;
  padding-right: 10px;
    }

    .header-img{
        margin-top: -25px;
        width: 40%;
        margin-left: 50px;
    }

    .nav-links {
      top: 100px;
      left: 0;
      position: absolute;
      padding: 10px 100px;
      background-color: #DEE1D4;
     
    }

    .hamburger{
      margin-top: -90px;
      margin-left: 320px;
    }

    .nav-links a{
      text-align: left;
      margin-left: -50px;
      color: #0F1416;
    }

    .nav-links .busqueda-menu{
      margin-left: -50px;
      padding-left: 0;
      padding-right: 0;
      
    }

    .nav-links .suscribirme-menu{
      color: #0F1416!important;
      margin-left: -50px;
      padding-left: 0;
      padding-right: 0;
    }
  
  }



  @media only screen and (min-width:1400px) {

    .content{
      width: auto;
      padding-left: 160px;
      padding-right: 160px;
    }
    .header-img{
        width: 25%;
    }

  
    .nav-links {
      margin-left: -35rem;
      margin-top: -3px;
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a{
font-size: 1.1rem;
    }

    .nav-links .busqueda-menu{
      margin-left: 300px;

    }

  }
