.content{
  padding-right: 50px;
  padding-left: 50px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    overflow: hidden;
    background-color: #0F1416;
}

.head-grid{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 2rem;
        margin-top: 15px;
        
}

.header-img{
    margin-top: -17px;
    width: 30%;
   
}


.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 21px;
  height: 2px;
  margin-bottom: 7px;
  background-color: #DEE1D4;
}



.nav-links {
  width: 100%;
  background-color: #DEE1D4;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: .9rem;
  color: #DEE1D4;
  margin-left: -15px;
}

.nav-links a:hover,
.nav-links a:focus {
color: #97AAA0;
}

.expanded {
  display: unset;
}

.nav-links .busqueda-menu{
  margin-left: 85px;
  padding-left: 30px;
  padding-right: 30px;
  border:solid;
  border-width: 1px;
  border-color: #DEE1D4;
  border-radius: 25px;
}



.nav-links .suscribirme-menu{
  color: #0F1416;
  margin-left: 18px;
  padding-left: 30px;
  padding-right: 30px;
  border:solid;
  border-width: 1px;
  border-color: #97AAA0;
  border-radius: 25px;
  background-color: #97AAA0;
}

.nav-links .busqueda-menu:hover{
  color: #DEE1D4;
}

.nav-links .suscribirme-menu{
  color: #0F1416!important;
}




@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: -24em;
    margin-top: -5px;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger{
    display: none;
  }
  .movil-susc{
    display: none;
  }
  .bi-search{
    display: none;
  }
}

@media screen and (min-width:300px) and (max-width:800px) {

    .content{
    
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    .head-grid{
     
      grid-template-columns: repeat(4,minmax(0,1fr));
      padding-left:10px;
       padding-right: 10px;
    }

    .header-img{
        margin-top: -58px;
        height: 140px;
        width:140px;
        margin-left: -17px;
    }

    .nav-links {
      top: 100px;
      margin-top: 15px;
      left: 0;
      position: absolute;
      padding: 10px 100px;
      background-color: #DEE1D4;
     
    }

    .hamburger{
     margin-left: 17px;
    }

    .nav-links a{
      text-align: left;
      margin-left: -50px;
      color: #0F1416;
    }

    .nav-links .busqueda-menu{
      display: none;
      
    }

    .nav-links .suscribirme-menu{
      display: none;
    }

    
    .movil-susc{
      margin-top: -.4rem;
      color: #DEE1D4;
      font-size: .9rem;
      border: solid;
      border-width: 1px;
      border-color:#97AAA0;
      background-color: #97AAA0;
      border-radius: 25px;
      padding: .7rem .5rem;
      margin-bottom: 3.7rem;
      margin-right: -1.5rem;
      
    }

    .bi-search{
      margin-left: 2.5rem;
      margin-right: -.6rem;
    margin-top: -4px;
      font-size: .9rem;
      border: solid;
      border-width: 1px;
      border-color:#DEE1D4;
      border-radius: 25px;
      padding: .5rem;
      margin-bottom: 45px;
    
    }
  
  }

  /*************** Iphone *************/
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .header-img{
      margin-top: -58px;
      height: 130px;
      width:130px;
      margin-left: -18px;
      margin-right: 1rem;
  }


    .movil-susc{
      margin-top: -.5rem;
      color: #DEE1D4;
      font-size: .9rem;
      border: solid;
      border-width: 1px;
      border-color:#97AAA0;
      background-color: #97AAA0;
      border-radius: 25px;
      padding:  1rem;
      margin-bottom: 90px;
      margin-right: 0;
    }

    .bi-search{
      margin-left: .1rem;
      margin-right: 0;
    margin-top: -4px;
      font-size: .9rem;
      border: solid;
      border-width: 1px;
      border-color:#DEE1D4;
      border-radius: 25px;
      padding: 1rem;
      margin-bottom: 120px;
    
    }
  }

  @media only screen and (min-width:1400px) {

    .content{
      width: auto;
      padding-left: 160px;
      padding-right: 160px;
    }
    .header-img{
        width: 25%;
    }

  
    .nav-links {
      margin-left: -35rem;
      margin-top: -3px;
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a{
font-size: 1.1rem;
    }

    .nav-links .busqueda-menu{
      margin-left: 300px;

    }

  }

  
