.pw{
    background-color: #e8eadf;
    padding-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -20px;
}

.pw-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;

}

.pw-text-grid{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 2rem; 
}

.pw-grid{
    padding: 2rem;
  display:grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 2rem;
      margin-top: -40px;
      
}

.pw-text-grid h1{
  font-size:  1.8rem;
}

.pw-text-grid h3{
    text-align: right;
}


.pw-pst p{
  column-count: 2;
column-gap: 20px;
text-align: justify;
}

.pw-pst a{
  color: #0F1416;
  text-decoration: none;
  font-size: 40px;
}

.pw-text-grid a{
  font-size: .8rem;
  color: #0F1416;
  text-decoration: none;
}

/*************** Imagen***************/

.pw-first-image{
  width: 580px;
  height: 414px;
  background-image: url('../assets/pw/pw1.png');
    background-size: cover;
    background-position: center;
}

/*************** Movil***************/

@media (max-width:768px) {
  .pw-cont{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pw-grid{
    grid-template-columns: repeat(1,minmax(0,1fr));
padding-left:10px;
padding-right: 10px;
  }

 .pw-pst{
  text-align: left;
 }

 .pw-pst p{
  column-count: 1;
column-gap: 20px;
text-align: left;
}



 .pw-first-image{
  width: 360px;
  height: 350px;
}
}

/*************** Pantalla grande ***************/

@media only screen and (min-width:1400px) {
  .pw-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 160px;
  padding-left: 160px;

}

.pw-first-image{
  width: 750px;
  height: 420px;
}


}