.banner-pw-content{
    
    padding-right: 50px;
  padding-left: 50px;
  margin-right: -.5rem;
  margin-left: -.5rem;
  background-color: #0F1416;
  background-size: cover;
  background-position: center;
    overflow: hidden;   
   
}

.banner-pw-grid{
    padding: 2rem;
  display:grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 2rem;
     
}


.banner-pw-grid h1{
    font-size: 5rem;
    color: #eae8df;;
}

.banner-pw-grid p{
    font-size: 1rem;
    color: #eae8df;;
}

.body-pw-content{
    padding-top: 50px;
    padding-bottom  : 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: -.5rem;
    margin-left: -.5rem;
    background-color: #eae8df;
    overflow: hidden; 
    
}

.tecnologia{
    background-color: #e8eadf;
    padding-bottom: 80px;
    margin-left: -8px;
    margin-right: -8px;
}

.tec-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;

}

.tec-text-grid{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 5rem; 
}

.tec-text-grid a{
    color: #0F1416;
    
}

.tec-text-grid h1{
    font-size: 1.8rem;
}


.tec-text-grid h3{
    text-align: right;
    font-size: .8rem;
}

.tec-grid{
    margin-top:-30px;
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 1rem; 
}

.tec-post{
    margin-right: 30px;
}

.tec-post a{
    color: #0F1416;
    text-decoration: none;
    font-size: 1rem;
}

.tec-post p{
    color: #0F1416;
    text-decoration: none;
    font-size: .7rem;
}

.tec-post h4{
    color: #0F1416;
    text-decoration: none;
    font-size: .7rem;
}

/*************** Imagenes ***************/
.tec-first-image{
    width: 100%;
    height: 240px;
    background-image: url('../assets/tecnologia/tec1.webp');
    background-size: cover;
    background-position: center;
}

.tec-second-image{
    width: 100%;
    height: 240px;
    background-image: url('../assets/tecnologia/tec2.webp');
    background-size: cover;
    background-position: center;
}

.tec-third-image{
    width: 100%;
    height: 240px;
    background-image: url('../assets/tecnologia/tec3.webp');
    background-size: cover;
    background-position: center;
}

.tec-four-image{
    width: 100%;
    height: 240px;
    background-image: url('../assets/tecnologia/tec4.webp');
    background-size: cover;
    background-position: center;
}

/*************** Movil ***************/

@media screen and (min-width:320px) and (max-width:736px) {
    .tec-cont{
        width: auto;
            padding-left: 20px;
            padding-right: 20px;
    }

    .tec-grid{
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding-left:10px;
        padding-right: 10px; 
        width: auto;
    }

    

    .banner-pw-grid{
       margin-top: -3.3rem;
      display:grid;
      grid-template-columns: repeat(1,minmax(0,1fr));
         
    }

    .banner-pw-grid h1{
        font-size: 5rem;
        color: #eae8df;
        text-align: center;
    }
    
    .banner-pw-grid p{
        font-size: 1rem;
        color: #eae8df;
        text-align: center;
    }

    .tec-first-image{
        height: 230px;
        width: 100%;
    }

    .tec-second-image{
        height: 230px;
        width: 100%;
    }
    
    .tec-third-image{
        height: 230px;
        width: 100%;
    }
    
    .tec-four-image{
        height: 230px;
        width: 100%;
        
    }
}

@media screen and (min-width:1024px) and (max-width:1360px) {
  
}

/*************** Pantalla grande ***************/

@media only screen and (min-width:1400px) {
    .tec-cont{
        margin: 0 auto;
      overflow: hidden;
      padding-right: 90px;
      padding-left: 90px;
    
    }
    .tec-first-image{
        height: 230px;
        width: 100%;
    }

    .tec-second-image{
        height: 230px;
        width: 100%;
    }
    
    .tec-third-image{
        height: 230px;
        width: 100%;
    }
    
    .tec-four-image{
        height: 230px;
        width: 100%;
        
    }
    
}
