---
import '../styles/navigation.css'
---

<div class="content">
<div class="head-grid">
    <div class="head-logo">
        <a href="../"><img class="header-img" 
        src="http://plankton.mx/wp-content/uploads/2023/09/Plankton-Imagotipo-blanco.svg"
        />
      </a>
      </div>
      <div class="nav-links">
        <a href="/">Plankton Wallet</a>
      <a href="/about/">Análisis</a>
      <a href="/blog/">Crypto</a>
      <a href="/blog/">Finanzas</a>
      <a href="/blog/">Tecnología</a>
      <a href="/blog/">Contacto</a>

      <a href="/blog/" class="busqueda-menu">Búsqueda</a>
      <a href="/blog/" class="suscribirme-menu">Suscribirme</a>
        </div> 

        <div class="responsive-menu">
          <i class="bi bi-search"></i>
        <a class="movil-susc">Suscribete</a>
        
      </div>

        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
          
        </div>
        
        
      
    </div>
    
</div>

    