---
import '../styles/navigation.css'
---

<div class="content">
<div class="head-grid">
    <div class="head-logo">
        <img class="header-img" 
        src="http://plankton.mx/wp-content/uploads/2023/09/Plankton-Imagotipo-blanco.svg"
        />
      </div>
       <!-- Nav -->
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Plankton Wallet</a>
        <a href="#crece">Análisis</a>
        <a href="#teams">Crypto</a>
        <a href="#aprende">Finanzas</a>
        <a href="#news">Tecnología</a>
        <a href="#english">Contacto</a>
        <a href="#ingresar">Ingresar</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="bi bi-list"></i>
        </a>
      </div>
    </div>
</div>

    