---
const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');

import '../styles/tecnologia.css'
import {Image} from 'astro:assets';
import myImage from "../assets/Cover_Blog_PW_16.02.24.png";
---

<section class="tecnologia">
    <div class="tec-cont">
        <div class="tec-text-grid">
            <h1>Tecnología</h1>
            <h3>Ver más > </h3>
        </div>
        <div class="tec-grid">

        </div>
    </div>

</section>