---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/footer.astro';
const { frontmatter } = Astro.props;
import '../styles/global.css';
import '../styles/markdown.css';
import '../styles/navigation.css'
import '../styles/footer.css'
import {Image} from 'astro:assets';
---

<Navigation />
    
    <div class="postcontent">
        <img src={frontmatter.image} alt="" class="image"
         />
        <h1>{frontmatter.title}</h1>
        <p>{frontmatter.author}</p>
        <slot />
    </div>

    <Footer />
    








  